/* место для вашего кода */

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px 96px 50px;
  width: 100%;
  text-underline-offset: 4px;
}

.header__menu {
  display: grid;
  justify-content: center;
  width: 391.48px;
}

.header__links-list {
  display: flex;
  gap: 30px;
  list-style: circle;
  font-size: 18px;
  font-weight: normal;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.tab__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 136px;
  height: 105px;
}

.address {
  display: grid;
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.cover {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  min-height: 757px;
  color: white;
}

.overlay {
  inset: 0;
  position: absolute;
  background: #000;
  opacity: 0.6;
}
.cover .title {
  position: relative;
  z-index: 1;
  padding: 165px 21px 0px 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 1.3;
}

.title span {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 0px 50px 50px 50px;
  font-size: 22px;
  font-weight: normal;
  line-height: 28px;
  text-transform: uppercase;
}

.subline {
  word-spacing: 18px;
}

.button {
  padding: 10px 32px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: #ffffff00;
}
.lots {
  margin: 180px 24px 95px 24px;
}

.lots .title {
  padding-left: 40px;
  padding-bottom: 27px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.lots__list {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  min-height: 596px;
  max-width: 334px;
  padding: 48px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-underline-offset: 4px;
}

.card__title {
  position: relative;
  z-index: 2;
  text-decoration: underline 1px #fff;
  text-underline-offset: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  font-weight: normal;
}

.lots__look-more {
  padding-left: 40px;
  text-decoration: underline 1px;
  text-underline-offset: 5px;
  font-size: 20px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "logo title"
    ". description";
  padding: 24px 24px 164px 24px;

}
.about__logo {
  grid-area: logo;
  margin-left: 47px;
  margin-top: 35px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.section-title {
  grid-area: title;
  align-content: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 13px;
  margin-left: 7px;
}

.description-block {
  grid-area: description;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -22px;
  left: 3px;
  gap: 26px;
}

.description-block p {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.17;
  max-width: 690px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  font-size: 18px;
}

.footer .address {
  display: grid;
  justify-self: center;
  align-content: start;
  text-underline-offset: 4px;
  max-width: 270px;
  font-style: normal;
  line-height: 24.3px;
}
.footer__menu {
  text-underline-offset: 4px;
}

.footer__menu,
ul,
li {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  position: relative;
  left: 13px;
  padding: 0;
  margin: 0;
  width: 240px;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__links-icons img {
  width: 100%;
  display: block;
}
